version: 1.0.{build}

image: Visual Studio 2022

platform:
  - x64

configuration:
  - Debug
  - Release

environment:
  CMAKE_GENERATOR: "Visual Studio 17 2022"
  BUILD_DIR: build

cache:
  - C:\Users\appveyor\.cmake

install:
  - cmd: git submodule update --init --recursive

build_script:
  - cmd: >
      cmake -S . -B %BUILD_DIR%
      -G "%CMAKE_GENERATOR%"
      -A x64
      -DCMAKE_BUILD_TYPE=%configuration%
  - cmd: cmake --build %BUILD_DIR% --config %configuration%

test_script:
  - cmd: ctest --test-dir %BUILD_DIR% -C %configuration% --output-on-failure

artifacts:
  - path: build\bin\**\*.dll
  - path: build\bin\**\*.exe
  - path: build\lib\**\*.lib
